* {
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse.woff2') format('woff2'),
        url('fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.background {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
}

.logo {
  margin-top: 200px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  width: 572px;
  height: 150px;
}

.logo p{
  font-family: 'Norse-Bold';
  color: white;
  font-size: 100px;
}

#footer {
  font-family: sans-serif;
  font-size: 12px;
}

#footer a{
  text-decoration: underline;
}

.website {
  display: flex;
}

.sign-up {
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 24px;
}

.form {
  display: flex;
  width: 650px;
}

.form label{
  font-size: 14px;
  text-transform: uppercase;
  color: #2A3441;
}

.form a{
  color: #596D48;
}

button {
  background-color: #596D48;
  color: white;
}